body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Imagen de fondo InfraQuick*/

.index_fondo {
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/*Titulo página*/
.index_titulo_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.index_titulo {
    font-family: "Questrial", sans-serif;
    font-size: 200px;
    font-style: normal;
    margin: 0 auto;
    color: #170130;
}

.index_subtitulo {
    font-family: "Didact Gothic", sans-serif;
    font-size: 50px;
    font-style: normal;
    color: #331852;
}

/*contenedor donde esta la descripción y los enlaces*/
.index_contenedor {
    background-color: rgb(186, 165, 202);
    opacity: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*Descripción de la página web*/
.index_descrip {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 23px;
    margin-bottom: 100px;
    text-align: justify;
    color: #0b0215;
    opacity: 100%;
}

/*Configuración del div donde estan los enlaces*/
.index_caja {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 30%;
    opacity: 100%;
    width: 100%;
}

.index_caja a{
    transition: .5s;
    background-color: #4b3168;
    color: #ffffff;
    width: 300px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(66, 5, 127, 0.292);
}

.index_caja div img {
    transition: .5s;
    width: 100%;
    background-color: white;
}

.index_caja div p {
    transition: .5s;
    font-family: "Didact Gothic", sans-serif;
    font-size: 30px;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Hover de los enlaces*/
.index_caja a:hover {
    transition: 0.5s;
    width: 310px;
}

.index_caja a:hover {
    background-color: #331852;
    box-shadow: 0px 8px 16px rgba(74, 4, 109, 0.433);
}

.index_caja div img:hover{
    background-color: #d7d7d7;
}

.index_caja div p:hover {
    color: #acacac;
    font-size: 35px;
}

/*Pie de página*/
footer {
    background-color: rgb(74, 49, 95);
    opacity: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 15%;
}

footer a{
    font-family: "Didact Gothic", sans-serif;
    text-decoration: none;
    color: rgb(224, 223, 223);
}

footer a:hover {
    transition: .3s;
    color: rgb(161, 161, 161);
}




/*------------------------PÁGINA DE FORMULARIOS TERRAFORM----------------------------*/



/*Imagen de fondo*/
.formulario_fondo {
    background-image: url(../img/fondo-tya.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/*Titulo página*/
.formulario_titulo_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.formulario_titulo {
    font-family: "Questrial", sans-serif;
    font-size: 75px;
    font-style: normal;
    margin: 0 auto;
    color: #170130;
}

.formulario_subtitulo {
    font-family: "Didact Gothic", sans-serif;
    font-size: 35px;
    font-style: normal;
    color: #331852;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
}

/*Contenedor del menu*/
.formulario_menu {
    background-color: rgb(176, 146, 200);
    opacity: 90%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 15%;
    position: relative;
    z-index: 999;
}

/*Configuraciones del desplegable*/
.formulario_menu a, .desplegable p {
    font-family: "Didact Gothic", sans-serif;
    text-decoration: none;
    color: rgb(27, 7, 43);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.formulario_menu a:hover, .desplegable:hover p {
    transition: .3s;
    color: rgb(87, 56, 111);
}

.desplegable {
    position: relative;
}

.desplegable_opc {
    display: none;
    position: absolute;
    background-color: #e3d6eb;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(38, 2, 83, 0.2);
    left: 50%;
    transform: translateX(-50%);
}
  
.desplegable:hover .desplegable_opc {
    display: block;
}
  
.desplegable_opc a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.desplegable_opc a:hover {
    background-color: #fbf6ff;
}


/*Contenedor del formulario*/
.contenedor_formulario {
    background-color: rgb(186, 165, 202);
    opacity: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 10%;
}

.formulario {
    width: 30%;
    font-family: "Jost", sans-serif;
    display: flex;
    flex-direction: column;
}

.formulario_nombre {
    font-family: "Didact Gothic", sans-serif;
    font-size: 25px;
    font-style: normal;
    color: #200d35;
    margin: 0;
    padding-bottom: 30px;
}

.form_est input{
    width: 100%;
    margin-top: 5px;
}

#cantidad, #cantidad-sa {
    margin-top: 5px;
}

#enviar_btn {
    margin-top: 20px;
    width: 60px;
}

.cont_out {
    width: 50%;
    min-height: 300px;
    max-height: 900px;
    border: 1px solid #140321;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #0a0313;
    color: #d6d6d6;
    line-height: 1.6;
    box-shadow: 0px 8px 16px rgba(27, 4, 38, 0.433);
    border-radius: 10px;
}

.copiar_btn {
    transition: .3s;
    padding: 15px;
    padding-bottom: 10px;
    background-color: #200a3d;
    align-items: center;
    cursor: pointer;
}

.copiar_btn:hover {
    transition: .3s;
    background-color: #2e0c5c;
    align-items: center;
}

.copiar_btn button {
    background-color: transparent;
    color: #eaecee;
    border: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
    font-size: 17px;
}

.copiar_btn img {
    width: 20px;
}

#output {
    padding: 15px;
}

/*EMPIEZO CON LOS FORMULARIOS GENERADOS AUTOMÁTICAMENTE POR JS*/

.formulario_individual {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
}

.formulario_individual label{
    margin-top: 5px;
}

.formulario_individual p{
    font-size: 20px;
}

.num_form {
    margin: 0;
    font-family: "Jost", sans-serif;
}

.formulario_individual input {
    margin-bottom: 5px;
}

.formulario_individual select {
    margin-bottom: 5px;
}

.nombre_claves {
    margin-top: 5px;
}

.ip_pub_container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

input.ip_pub {
    width: auto;
    margin: 5px;
}

p.ip_pub_txt {
    font-size: 15px;;
    margin: 0px;
    width: auto;
}

.etq_nom {
    margin-bottom: 5px;
}

.blocked {
    background-color: #d0cdcd;
    color: #636363;
}

.mensaje {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(23, 6, 44, 0.8);
    color: #eaecee;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    font-family: "Didact Gothic", sans-serif;
}
  
.mostrar {
    display: block;
    animation: fadeOut 5s ease;
}
  
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}


/*AÑADE COLORES AL TEXTO GENERADO*/
.celeste {
    color: #00aeff;
}

.verde {
    color: #3ae965;
}

.naranja {
    color: #ff6219;
}

.rosa {
    color: #c918cf;
}

.rojo {
    color: #ee4670;
}

.morado {
    color: #801cd3;
}

.amarillo {
    color: #d8bb18;
}

.azul {
    color: #002c41;
}
